.login__button {
  width: 100%;
  border: none;
  cursor: pointer;
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background: #ffffff;
}
.login__button:hover {
  opacity: 0.85;
}
