.login {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 62.643vh;
  width: 27.96875vw;
}

.login__top-container {
  display: flex;
  flex-direction: column;
  /*   justify-content: center; */
  align-items: center;
  width: 100%;
}

.login__input {
  margin-top: 35px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #CCCCCC;
  height: 30px;
}
.login__input:focus {
  background-color: transparent;
}

.login__input:active {
  background-color: transparent;
}

.login__button {
  width: 100%;
  border: none;
  cursor: pointer;
/*  */
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background: #ffffff;
}
.login__button:hover {
  opacity: 0.85;
}
