.register {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 69.166666666666666666666666666667vh;
  width: 27.96875vw;
}

.register__top-container {
  display: flex;
  flex-direction: column;
  /*   justify-content: center; */
  align-items: center;
  width: 100%;
}
.register__bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__header {
  color: white;
}

.register__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #CCCCCC;
  height: 30px;
  margin-top: 35px;
}
.register__input:focus {
  background-color: transparent;
}

.register__input:active {
  background-color: transparent;
}

.register__button {
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: #FFFFFF;
}
.register__button:hover {
  opacity: 0.85;
}
.register__link {
  color: #ffffff;
  text-decoration: none;
}

.register__link:hover {
  opacity: 0.5;
}
